//variables
$primDark:#ba000d;
$primario:#f44336;
$primLight:#ff7961;

$layer1:#000000;
$layer2:#212121;
$layer3:#424242;
$layer4:#636363;
$layer5:#747474;
$layer6:#858585;


// resets - generales

@mixin wdt-hgt($w, $h) {
    width: $w;
    height: $h;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
    @include wdt-hgt(100%,100%);
    // overflow: hidden;
}