
.indHero {
    display: flex;
    justify-content: center;
    background-image: url(../assets/fondo.png);
    height: 45vh;

}

.prodMain__elemento{
        color: black;
    .caps{
        text-transform: capitalize;
    }
}

#proximamente{
    padding: 1em;
    background-color: $layer2;
    font-size: .3em;
    border-radius: 1em;
    text-align: center;
    border: 2px solid $primario;
    color: #fff;
}

#modalCarrito{
    // h5{
    //     display: inline-block;
    // }
    .modal-content{
    background-color: $layer2;
    
    }
    .modal-header{
        border-color: $primario;
    }

    .modal-footer{
        border-color: $primario;
        button {
            display: inline-block;
            background-color: $layer3;
            padding: 0.3em;
            margin: .2em;
            border: 0.16em solid rgba(255, 255, 255, 0);
            border-radius: .2em;
            color: $primLight;
            text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        
            &:hover {
                background-color: $layer4;
                border-color: $primDark;
                transition: border-color 0.2s;
            }
        }
    }
}
