.hero {
    text-align: center;
    color: $primLight;
}
a.boton {
    background-color: $layer2;
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 1em 0.1em 1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    text-decoration: none;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    font-weight: 300;

    &:hover {
        border-color: $primDark;
        transition: border-color 0.2s;
    }
}

.productos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    p {
        margin: .4em;
        font-size: 1.3em;
    }

    .productos__lista {
        background-color: $layer3;
        align-self: center;
        padding: .8em;
        margin: .4em;
        border-radius: 1em;

        .listElem {
            padding: .4em;
            margin: .4em;
            background-color: $layer4;
            border-radius: 1em;
        }

        p {
            font-size: .8em;
        }

        span {
            font-size: 1.3em;
            color: $primario;
        }
    }
}


