// LAYOUT

/// INDEX

.contenedor {
    display: grid;
    grid-template-rows: 10vh 40vh 1fr 10vh;
}

#contenedor-index2{
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 1fr 10vh;
    grid-template-areas:
        "nav nav"
        "prod prod"
        "indFooter indFooter";
    margin: 2em;
    gap: 1em;

    .indHero{
        visibility: hidden;
    }
}

#contenedor-index1 {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh 40vh 1fr 10vh;
    grid-template-areas:
        "nav nav"
        "indHero indHero"
        "prod prod"
        "indFooter indFooter";
    margin: 2em;
    gap: 1em;
}

.nav{
    grid-area: nav;
}
.indHero {
    grid-area: indHero;
}

.prodMain{
    grid-area: prod;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(5, 1fr);
    grid-gap: 1em;
    min-height: 100vh;
    align-items: flex-start;
    #proximamente{
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

.indFooter{
    grid-area: indFooter;
}

/////////////



